// colors


$primary: hsl(172, 67%, 45%);


$Very_dark_cyan: hsl(183, 100%, 15%);
$Dark_grayish_cyan1: hsl(186, 14%, 43%);
$Dark_grayish_cyan2: hsl(184, 14%, 56%);
$Light_grayish_cyan1: hsl(185, 41%, 84%);
$Light_grayish_cyan2: hsl(189, 41%, 97%);
$White : #fff;

$border_radius: 1.2em;